# Core Configuration
PORT=5001
NODE_ENV=development
DATABASE_URL=postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech:5432/dbname

# Authentication
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
SESSION_SECRET=your_random_session_secret
INITIAL_ADMIN_EMAIL=admin@example.com

# Sentry (Optional for dev, required for prod)
SENTRY_DSN=

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=run-remix
OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=0.1

# Caching (Optional for local dev, required for Prod)
UPSTASH_REDIS_REST_URL=https://...
UPSTASH_REDIS_REST_TOKEN=...
